body {
    box-sizing: border-box;
    /* height: 1000px; */
}

a {
    padding: 0 !important;
}

.main-color {
    color: #009AD8 !important;
}

.sec-color {
    background-color: #1e202b !important;
    /* color: #1e202b !important; */
}

.wthr-nav {
    font-size: 16px;
}

span {
    color: #bfc1c8;
}

.p-r2 {
    padding: 2rem;
}

li a {
    padding: 5px 25px !important;
    border: 2px solid transparent !important;
    border-radius: 30px;
    transition: all .4s !important;
}

li a.active {
    border-color: #009AD8 !important;
    color: #009AD8 !important;
}

li a:hover {
    border-color: #009AD8 !important;
    color: #009AD8 !important;
}

/*End Navbar*/


.backImg{
    background-image: url(../image/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px;
}

.w-85{
    width: 85% !important;
}
.p-70{
    padding: 70px !important;
}
input{
    background-color: #1e202b !important;
    color: white !important;
    padding: 15px !important;
    border-radius: 30px !important;
    border: 0 !important;
}
input::placeholder{
    color: #6b6b68 !important;
}
input:focus{
    box-shadow: none !important;
}

.btn-find{
    position: absolute;
    padding: 10px 40px !important;
    border-radius: 30px;
    background-color: #009AD8 !important;
    top: 74px;
    right: 75px;    
}

.head{
    background-color: #2d303d;
    border-top-left-radius: 10px;
}
.head p{
    font-size: 14px;
    color:#bfc1c8 ;
}

.wth-body{
    background-color: #323544;
    padding: 30px 20px;
    /* border-bottom-left-radius: 10px; */
}

.city{
    font-size: 1.2857142857em;
    color: #bfc1c8;
}
.degree h1{
    font-size: 5.4285714286rem;
    font-weight: 600;
}

.head2{
    background-color: #222530;

}
.head2 p{
    font-size: 14px;
    color:#bfc1c8 ;
}
.vip{
    background-color: #262936;  

}
.vip2{
    background-color: #323544;
}
.wth-body2{
    padding: 50px 20px 10px;
}
.text{
    margin-bottom: 15px;
}
.icon-state{
    margin-bottom: 20px;
}
.degree2{
    font-size: 24px;
    font-weight: 600;
}
.degree2-small{
    font-size: 16px;
    color: #bfc1c8;
}
.info-wth{
    font-size: 14px;
    color: #009AD8;
    margin: 20px 0;
}

.head3{
    background-color: #2d303d;
}
.head3 p{
    font-size: 14px;
    color:#bfc1c8 ;
}

.wth-body3{
    padding: 50px 20px 10px;
}


.footer{
    background-color: #262936;
    padding: 50px;
}

.pad{
    padding: 0 70px 0 70px;
}

.btn-subscribe{
    position: absolute;
    padding: 10px 30px !important;
    border-radius: 30px;
    background-color: #009AD8 !important;
    top: 4px;
    right: 75px;    
}
.social-net{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* text-align: center; */
.social-net a{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #1e202b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .3s;
}
.social-net a i {
    font-size: 20px;
     color: #009AD8;
}
.social-net a:hover{
    background-color: #009AD8;
    color: #fff;
}
.social-net a:hover i{
    color: #fff;
}

.copy{
    font-size: 14px;
    margin-bottom: 14px;
    margin-top: 25px;
    padding-left: 80px;
    color: #bfc1c8;
}